In [1]:
import os
import pandas as pd
import numpy as np

In [2]:
csvpath = '/home/monster/Downloads/kaggle/AV-L&T-loan/ensb_csvs'
csv_list = os.listdir(csvpath)

In [3]:
csv_list

['472_61752_us_ens_4_without_corr_hmean.csv',
 '472_61752_us_sub1_kHMCvEB.csv',
 '472_61752_us_ens_1_Dw0KAyv.csv',
 '472_61752_us_ens_1_ujGJ5Q1.csv',
 '472_61752_us_sub1_jbuYZTV.csv',
 '472_61752_us_sub1_42tk3Hq.csv',
 '472_61752_us_ens_3_without_corr.csv',
 '472_61752_us_ens_2.csv',
 '472_61752_us_ens_1_pctrQtR.csv']

In [4]:
df = pd.DataFrame()
for i, name in enumerate(csv_list):
    tmpdf = pd.read_csv(csvpath+'/'+name)
    tmpdf.columns = ['UniqueID_'+str(i), 'loan_default_'+str(i)]
    df = pd.concat([df,tmpdf],axis=1)

In [5]:
df.shape

(112392, 18)

In [6]:
df.columns

Index(['UniqueID_0', 'loan_default_0', 'UniqueID_1', 'loan_default_1',
       'UniqueID_2', 'loan_default_2', 'UniqueID_3', 'loan_default_3',
       'UniqueID_4', 'loan_default_4', 'UniqueID_5', 'loan_default_5',
       'UniqueID_6', 'loan_default_6', 'UniqueID_7', 'loan_default_7',
       'UniqueID_8', 'loan_default_8'],
      dtype='object')

In [7]:
df.drop(['UniqueID_1','UniqueID_2','UniqueID_3','UniqueID_4', 'UniqueID_5','UniqueID_6',
 'UniqueID_7','UniqueID_8'],axis=1, inplace=True)
         
#          ,'UniqueID_9','UniqueID_10','UniqueID_11','UniqueID_12','UniqueID_13'],axis=1, inplace=True)

In [8]:
df.columns =['UniqueID', 'loan_default_0', 'loan_default_1', 'loan_default_2',
       'loan_default_3', 'loan_default_4', 'loan_default_5', 'loan_default_6',
       'loan_default_7', 'loan_default_8']

In [ ]:
# df.columns = ['UniqueID', 'loan_default_0', 'loan_default_1', 'loan_default_2',
#        'loan_default_3', 'loan_default_4', 'loan_default_5', 'loan_default_6',
#        'loan_default_7', 'loan_default_8', 'loan_default_9', 'loan_default_10',
#        'loan_default_11','loan_default_12','loan_default_13']

In [9]:
df.head()

,UniqueID,loan_default_0,loan_default_1,loan_default_2,loan_default_3,loan_default_4,loan_default_5,loan_default_6,loan_default_7,loan_default_8
0,655269,0.241180,0.264024,0.249638,0.249638,0.245546,0.223151,0.242206,0.249638,0.249638
1,723482,0.302928,0.326950,0.297701,0.297701,0.328811,0.367981,0.303790,0.297701,0.297701
2,758529,0.309095,0.330641,0.306109,0.306109,0.360254,0.287200,0.310372,0.306109,0.306109
3,763449,0.296191,0.394687,0.316770,0.316770,0.361883,0.405825,0.297495,0.316770,0.316770
4,708663,0.329071,0.306807,0.322907,0.322907,0.321524,0.285912,0.329579,0.322907,0.322907