In [46]:
import pandas as pd
import numpy as np

In [47]:
train_df = pd.read_csv('/home/monster/Downloads/kaggle/AV-L&T-loan/train.csv')
test_df = pd.read_csv('/home/monster/Downloads/kaggle/AV-L&T-loan/test.csv')
sub_df = pd.read_csv('/home/monster/Downloads/kaggle/AV-L&T-loan/sample_submission.csv')

In [48]:
train_df.shape,test_df.shape

((233154, 41), (112392, 40))

In [49]:
train_df.head()

,UniqueID,disbursed_amount,asset_cost,ltv,branch_id,supplier_id,manufacturer_id,Current_pincode_ID,Date.of.Birth,Employment.Type,...,SEC.SANCTIONED.AMOUNT,SEC.DISBURSED.AMOUNT,PRIMARY.INSTAL.AMT,SEC.INSTAL.AMT,NEW.ACCTS.IN.LAST.SIX.MONTHS,DELINQUENT.ACCTS.IN.LAST.SIX.MONTHS,AVERAGE.ACCT.AGE,CREDIT.HISTORY.LENGTH,NO.OF_INQUIRIES,loan_default
0,420825,50578,58400,89.55,67,22807,45,1441,01-01-84,Salaried,...,0,0,0,0,0,0,0yrs 0mon,0yrs 0mon,0,0
1,537409,47145,65550,73.23,67,22807,45,1502,31-07-85,Self employed,...,0,0,1991,0,0,1,1yrs 11mon,1yrs 11mon,0,1
2,417566,53278,61360,89.63,67,22807,45,1497,24-08-85,Self employed,...,0,0,0,0,0,0,0yrs 0mon,0yrs 0mon,0,0
3,624493,57513,66113,88.48,67,22807,45,1501,30-12-93,Self employed,...,0,0,31,0,0,0,0yrs 8mon,1yrs 3mon,1,1
4,539055,52378,60300,88.39,67,22807,45,1495,09-12-77,Self employed,...,0,0,0,0,0,0,0yrs 0mon,0yrs 0mon,1,1

In [50]:
train_df.columns

Index(['UniqueID', 'disbursed_amount', 'asset_cost', 'ltv', 'branch_id',
       'supplier_id', 'manufacturer_id', 'Current_pincode_ID', 'Date.of.Birth',
       'Employment.Type', 'DisbursalDate', 'State_ID', 'Employee_code_ID',
       'MobileNo_Avl_Flag', 'Aadhar_flag', 'PAN_flag', 'VoterID_flag',
       'Driving_flag', 'Passport_flag', 'PERFORM_CNS.SCORE',
       'PERFORM_CNS.SCORE.DESCRIPTION', 'PRI.NO.OF.ACCTS', 'PRI.ACTIVE.ACCTS',
       'PRI.OVERDUE.ACCTS', 'PRI.CURRENT.BALANCE', 'PRI.SANCTIONED.AMOUNT',
       'PRI.DISBURSED.AMOUNT', 'SEC.NO.OF.ACCTS', 'SEC.ACTIVE.ACCTS',
       'SEC.OVERDUE.ACCTS', 'SEC.CURRENT.BALANCE', 'SEC.SANCTIONED.AMOUNT',
       'SEC.DISBURSED.AMOUNT', 'PRIMARY.INSTAL.AMT', 'SEC.INSTAL.AMT',
       'NEW.ACCTS.IN.LAST.SIX.MONTHS', 'DELINQUENT.ACCTS.IN.LAST.SIX.MONTHS',
       'AVERAGE.ACCT.AGE', 'CREDIT.HISTORY.LENGTH', 'NO.OF_INQUIRIES',
       'loan_default'],
      dtype='object')

In [51]:
train_df.dtypes

UniqueID                                 int64
disbursed_amount                         int64
asset_cost                               int64
ltv                                    float64
branch_id                                int64
supplier_id                              int64
manufacturer_id                          int64
Current_pincode_ID                       int64
Date.of.Birth                           object
Employment.Type                         object
DisbursalDate                           object
State_ID                                 int64
Employee_code_ID                         int64
MobileNo_Avl_Flag                        int64
Aadhar_flag                              int64
PAN_flag                                 int64
VoterID_flag                             int64
Driving_flag                             int64
Passport_flag                            int64
PERFORM_CNS.SCORE                        int64
PERFORM_CNS.SCORE.DESCRIPTION           object
PRI.NO.OF.ACCTS                          int64
PRI.ACTIVE.ACCTS                         int64
PRI.OVERDUE.ACCTS                        int64
PRI.CURRENT.BALANCE                      int64
PRI.SANCTIONED.AMOUNT                    int64
PRI.DISBURSED.AMOUNT                     int64
SEC.NO.OF.ACCTS                          int64
SEC.ACTIVE.ACCTS                         int64
SEC.OVERDUE.ACCTS                        int64
SEC.CURRENT.BALANCE                      int64
SEC.SANCTIONED.AMOUNT                    int64
SEC.DISBURSED.AMOUNT                     int64
PRIMARY.INSTAL.AMT                       int64
SEC.INSTAL.AMT                           int64
NEW.ACCTS.IN.LAST.SIX.MONTHS             int64
DELINQUENT.ACCTS.IN.LAST.SIX.MONTHS      int64
AVERAGE.ACCT.AGE                        object
CREDIT.HISTORY.LENGTH                   object
NO.OF_INQUIRIES                          int64
loan_default                             int64
dtype: object

In [52]:
train_df['Date.of.Birth'][:4]

0    01-01-84
1    31-07-85
2    24-08-85
3    30-12-93
Name: Date.of.Birth, dtype: object

In [53]:
train_df['Employment.Type'].value_counts()

Self employed    127635
Salaried          97858
Name: Employment.Type, dtype: int64

In [54]:
train_df['DisbursalDate'][:4]

0    03-08-18
1    26-09-18
2    01-08-18
3    26-10-18
Name: DisbursalDate, dtype: object

In [55]:
train_df['PERFORM_CNS.SCORE'][:5] #credit score

0      0
1    598
2      0
3    305
4      0
Name: PERFORM_CNS.SCORE, dtype: int64

In [56]:
train_df['PERFORM_CNS.SCORE.DESCRIPTION'][:5] #Scredit score classes

0    No Bureau History Available
1                  I-Medium Risk
2    No Bureau History Available
3               L-Very High Risk
4    No Bureau History Available
Name: PERFORM_CNS.SCORE.DESCRIPTION, dtype: object

In [57]:
train_df['AVERAGE.ACCT.AGE'][:5]

0     0yrs 0mon
1    1yrs 11mon
2     0yrs 0mon
3     0yrs 8mon
4     0yrs 0mon
Name: AVERAGE.ACCT.AGE, dtype: object

In [58]:
train_df['CREDIT.HISTORY.LENGTH'][:5]

0     0yrs 0mon
1    1yrs 11mon
2     0yrs 0mon
3     1yrs 3mon
4     0yrs 0mon
Name: CREDIT.HISTORY.LENGTH, dtype: object

In [59]:
train_df.loan_default.value_counts()

0    182543
1     50611
Name: loan_default, dtype: int64

In [60]:
#Class distribution
182543 / train_df.shape[0]

0.7829288796246258

In [61]:
train_df['PRI.SANCTIONED.AMOUNT'][:15]

0          0
1      50200
2          0
3          0
4          0
5          0
6          0
7      74500
8     365384
9          0
10         0
11     36154
12     69900
13    187000
14    179252
Name: PRI.SANCTIONED.AMOUNT, dtype: int64

In [62]:
train_df['PRI.DISBURSED.AMOUNT'][:15]

0          0
1      50200
2          0
3          0
4          0
5          0
6          0
7      74500
8     365384
9          0
10         0
11     23374
12     69900
13    187000
14    179252
Name: PRI.DISBURSED.AMOUNT, dtype: int64

In [63]:
#object columns
test_df.columns[test_df.dtypes == 'object']

Index(['Date.of.Birth', 'Employment.Type', 'DisbursalDate',
       'PERFORM_CNS.SCORE.DESCRIPTION', 'AVERAGE.ACCT.AGE',
       'CREDIT.HISTORY.LENGTH'],
      dtype='object')

In [64]:
#object columns
train_df.columns[train_df.dtypes == 'object']

Index(['Date.of.Birth', 'Employment.Type', 'DisbursalDate',
       'PERFORM_CNS.SCORE.DESCRIPTION', 'AVERAGE.ACCT.AGE',
       'CREDIT.HISTORY.LENGTH'],
      dtype='object')

In [65]:
train_df['Employment.Type'].value_counts()

Self employed    127635
Salaried          97858
Name: Employment.Type, dtype: int64

In [66]:
train_df['PERFORM_CNS.SCORE.DESCRIPTION'].value_counts()

No Bureau History Available                                116950
C-Very Low Risk                                             16045
A-Very Low Risk                                             14124
D-Very Low Risk                                             11358
B-Very Low Risk                                              9201
M-Very High Risk                                             8776
F-Low Risk                                                   8485
K-High Risk                                                  8277
H-Medium Risk                                                6855
E-Low Risk                                                   5821
I-Medium Risk                                                5557
G-Low Risk                                                   3988
Not Scored: Sufficient History Not Available                 3765
J-High Risk                                                  3748
Not Scored: Not Enough Info available on the customer        3672
Not Scored: No Activity seen on the customer (Inactive)      2885
Not Scored: No Updates available in last 36 months           1534
L-Very High Risk                                             1134
Not Scored: Only a Guarantor                                  976
Not Scored: More than 50 active Accounts found                  3
Name: PERFORM_CNS.SCORE.DESCRIPTION, dtype: int64

In [67]:
train_df['PERFORM_CNS.SCORE.DESCRIPTION'] = train_df['PERFORM_CNS.SCORE.DESCRIPTION'].replace(' ', '_', regex=True)

In [68]:
train_df['Employment.Type'] = train_df['Employment.Type'].replace(' ', '_', regex=True)

In [69]:
#86 % values are no so it is safe to impute NO
train_df['Employment.Type'].fillna('Self_employed',inplace=True)

In [70]:
#treat categorical variables
from sklearn.preprocessing import LabelEncoder

d = pd.DataFrame()

var_mod = ['Employment.Type','PERFORM_CNS.SCORE.DESCRIPTION']

le = LabelEncoder()
for i in var_mod:
    print(i)
    d[str(i)] = le.fit_transform(train_df.loc[:,i])
d.dtypes

Employment.Type
PERFORM_CNS.SCORE.DESCRIPTION

Employment.Type                  int64
PERFORM_CNS.SCORE.DESCRIPTION    int64
dtype: object

In [71]:
d.shape,train_df.shape

((233154, 2), (233154, 41))

In [72]:
train_df.loc[:,'Employment.Type'] = d.loc[:,'Employment.Type']
train_df.loc[:,'PERFORM_CNS.SCORE.DESCRIPTION'] = d.loc[:,'PERFORM_CNS.SCORE.DESCRIPTION']

In [73]:
train_df[['Employment.Type','PERFORM_CNS.SCORE.DESCRIPTION']]

        Employment.Type  PERFORM_CNS.SCORE.DESCRIPTION
0                     0                             13
1                     1                              8
2                     1                             13
3                     1                             11
4                     1                             13
5                     1                              0
6                     0                             13
7                     0                             17
8                     1                              3
9                     0                              0
10                    1                             12
11                    0                              1
12                    0                             12
13                    0                              2
14                    1                             12
15                    0                             17
16                    1                             12
17                    1                              4
18                    1                              8
19                    1                              7
20                    1                              2
21                    0                              1
22                    1                             13
23                    1                              2
24                    1                             13
25                    0                             13
26                    1                             13
27                    1                             13
28                    1                              7
29                    1                              3
...                 ...                            ...
233124                0                             13
233125                0                              2
233126                1                             13
233127                1                              5
233128                0                             17
233129                0                              8
233130                0                              0
233131                1                              3
233132                1                              2
233133                0                              1
233134                1                             13
233135                0                             13
233136                0                              1
233137                1                              9
233138                0                             13
233139                1                              0
233140                1                              0
233141                0                              0
233142                1                              2
233143                1                              0
233144                0                             13
233145                1                              4
233146                1                              2
233147                0                              2
233148                0                             13
233149                0                              3
233150                1                              0
233151                0                             13
233152                0                             13
233153                0                             13

[233154 rows x 2 columns]

In [74]:
train_df.apply(lambda x: sum(x.isnull()),axis=0)

UniqueID                               0
disbursed_amount                       0
asset_cost                             0
ltv                                    0
branch_id                              0
supplier_id                            0
manufacturer_id                        0
Current_pincode_ID                     0
Date.of.Birth                          0
Employment.Type                        0
DisbursalDate                          0
State_ID                               0
Employee_code_ID                       0
MobileNo_Avl_Flag                      0
Aadhar_flag                            0
PAN_flag                               0
VoterID_flag                           0
Driving_flag                           0
Passport_flag                          0
PERFORM_CNS.SCORE                      0
PERFORM_CNS.SCORE.DESCRIPTION          0
PRI.NO.OF.ACCTS                        0
PRI.ACTIVE.ACCTS                       0
PRI.OVERDUE.ACCTS                      0
PRI.CURRENT.BALANCE                    0
PRI.SANCTIONED.AMOUNT                  0
PRI.DISBURSED.AMOUNT                   0
SEC.NO.OF.ACCTS                        0
SEC.ACTIVE.ACCTS                       0
SEC.OVERDUE.ACCTS                      0
SEC.CURRENT.BALANCE                    0
SEC.SANCTIONED.AMOUNT                  0
SEC.DISBURSED.AMOUNT                   0
PRIMARY.INSTAL.AMT                     0
SEC.INSTAL.AMT                         0
NEW.ACCTS.IN.LAST.SIX.MONTHS           0
DELINQUENT.ACCTS.IN.LAST.SIX.MONTHS    0
AVERAGE.ACCT.AGE                       0
CREDIT.HISTORY.LENGTH                  0
NO.OF_INQUIRIES                        0
loan_default                           0
dtype: int64

In [75]:
train_df['is_train'] = 1
test_df['is_train'] = 0
data = train_df.append(test_df)

/home/monster/.conda/envs/tensorflow/lib/python3.6/site-packages/pandas/core/frame.py:6692: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  sort=sort)

In [76]:
data.shape

(345546, 42)

In [77]:
data.tail()

,AVERAGE.ACCT.AGE,Aadhar_flag,CREDIT.HISTORY.LENGTH,Current_pincode_ID,DELINQUENT.ACCTS.IN.LAST.SIX.MONTHS,Date.of.Birth,DisbursalDate,Driving_flag,Employee_code_ID,Employment.Type,...,UniqueID,VoterID_flag,asset_cost,branch_id,disbursed_amount,is_train,loan_default,ltv,manufacturer_id,supplier_id
112387,0yrs 0mon,1,0yrs 0mon,2591,0,14-05-92,28-11-18,0,3823,Self employed,...,755547,0,72509,74,44875,0,NaN,67.58,86,16646
112388,0yrs 0mon,1,0yrs 0mon,2593,0,24-04-84,19-11-18,0,3823,Self employed,...,716994,0,72509,74,53549,0,NaN,78.61,86,16646
112389,4yrs 10mon,1,9yrs 5mon,2593,0,01-01-86,17-11-18,0,3823,Self employed,...,709352,0,72509,74,55243,0,NaN,81.37,86,16646
112390,0yrs 3mon,1,0yrs 3mon,2593,1,01-01-73,15-11-18,0,3823,Self employed,...,699795,0,72509,74,55243,0,NaN,81.37,86,16646
112391,0yrs 0mon,1,0yrs 0mon,2593,0,01-01-74,28-11-18,0,3823,Self employed,...,755244,0,72509,74,40274,0,NaN,60.68,86,16646

In [78]:
#Missing Value treatment
#check missing values in the dataset
data.apply(lambda x: sum(x.isnull()),axis=0)

AVERAGE.ACCT.AGE                            0
Aadhar_flag                                 0
CREDIT.HISTORY.LENGTH                       0
Current_pincode_ID                          0
DELINQUENT.ACCTS.IN.LAST.SIX.MONTHS         0
Date.of.Birth                               0
DisbursalDate                               0
Driving_flag                                0
Employee_code_ID                            0
Employment.Type                          3443
MobileNo_Avl_Flag                           0
NEW.ACCTS.IN.LAST.SIX.MONTHS                0
NO.OF_INQUIRIES                             0
PAN_flag                                    0
PERFORM_CNS.SCORE                           0
PERFORM_CNS.SCORE.DESCRIPTION               0
PRI.ACTIVE.ACCTS                            0
PRI.CURRENT.BALANCE                         0
PRI.DISBURSED.AMOUNT                        0
PRI.NO.OF.ACCTS                             0
PRI.OVERDUE.ACCTS                           0
PRI.SANCTIONED.AMOUNT                       0
PRIMARY.INSTAL.AMT                          0
Passport_flag                               0
SEC.ACTIVE.ACCTS                            0
SEC.CURRENT.BALANCE                         0
SEC.DISBURSED.AMOUNT                        0
SEC.INSTAL.AMT                              0
SEC.NO.OF.ACCTS                             0
SEC.OVERDUE.ACCTS                           0
SEC.SANCTIONED.AMOUNT                       0
State_ID                                    0
UniqueID                                    0
VoterID_flag                                0
asset_cost                                  0
branch_id                                   0
disbursed_amount                            0
is_train                                    0
loan_default                           112392
ltv                                         0
manufacturer_id                             0
supplier_id                                 0
dtype: int64

In [80]:
#Treat missing values

# data['avg_clicks'] = data['avg_clicks'].fillna(np.median()) 

#86 % values are no so it is safe to impute NO
data['Employment.Type'].fillna('Self_employed',inplace=True)

data.apply(lambda x: sum(x.isnull()),axis=0)
data.dtypes

AVERAGE.ACCT.AGE                        object
Aadhar_flag                              int64
CREDIT.HISTORY.LENGTH                   object
Current_pincode_ID                       int64
DELINQUENT.ACCTS.IN.LAST.SIX.MONTHS      int64
Date.of.Birth                           object
DisbursalDate                           object
Driving_flag                             int64
Employee_code_ID                         int64
Employment.Type                         object
MobileNo_Avl_Flag                        int64
NEW.ACCTS.IN.LAST.SIX.MONTHS             int64
NO.OF_INQUIRIES                          int64
PAN_flag                                 int64
PERFORM_CNS.SCORE                        int64
PERFORM_CNS.SCORE.DESCRIPTION           object
PRI.ACTIVE.ACCTS                         int64
PRI.CURRENT.BALANCE                      int64
PRI.DISBURSED.AMOUNT                     int64
PRI.NO.OF.ACCTS                          int64
PRI.OVERDUE.ACCTS                        int64
PRI.SANCTIONED.AMOUNT                    int64
PRIMARY.INSTAL.AMT                       int64
Passport_flag                            int64
SEC.ACTIVE.ACCTS                         int64
SEC.CURRENT.BALANCE                      int64
SEC.DISBURSED.AMOUNT                     int64
SEC.INSTAL.AMT                           int64
SEC.NO.OF.ACCTS                          int64
SEC.OVERDUE.ACCTS                        int64
SEC.SANCTIONED.AMOUNT                    int64
State_ID                                 int64
UniqueID                                 int64
VoterID_flag                             int64
asset_cost                               int64
branch_id                                int64
disbursed_amount                         int64
is_train                                 int64
loan_default                           float64
ltv                                    float64
manufacturer_id                          int64
supplier_id                              int64
dtype: object

In [ ]:
#treat categorical variables
from sklearn.preprocessing import LabelEncoder

d = pd.DataFrame()

var_mod = ['Employment.Type','PERFORM_CNS.SCORE.DESCRIPTION']

le = LabelEncoder()
for i in var_mod:
    print(i)
    d[str(i)] = le.fit_transform(data.loc[:,i])
d.dtypes

In [ ]:
from sklearn.model_selection import train_test_split

X_train, X_validation, y_train, y_validation = train_test_split(Ftrain[predictors], Ftrain[outcome], test_size=0.1, random_state=1234)

In [ ]:
import xgboost as xgb
from sklearn.grid_search import GridSearchCV   #Perforing grid search
from sklearn.model_selection import LeaveOneOut 
loo = LeaveOneOut()
from sklearn.model_selection import KFold
from sklearn import metrics
from sklearn.preprocessing import PolynomialFeatures


def model_fn(alg, X_train, Y_train, X_test, Y_test, predictor_var, degree,filename,is_poly=True,is_final=True, treemod =True):
    
    #Kfold cross validation
    
    #kf = loo.split(X_train_std[predictor_var])
    kf = KFold(n_splits=10).split(X_train[predictor_var])
    error = []
    for train, test in kf:
        # Filter training data
        train_predictors = (X_train[predictor_var].iloc[train,:])
        
        # The target we're using to train the algorithm.
        train_target = Y_train.iloc[train]
        
        # Training the algorithm using the predictors and target.
        alg.fit(train_predictors, train_target)
        y1 = alg.predict(X_train[predictor_var].iloc[test,:])
        
        #Record error from each cross-validation run
        error.append(np.sqrt(metrics.mean_squared_error(Y_train.iloc[test], y1)))
     
    print ("Cross-Validation RMSE Score : %f" % np.mean(error))
    
    if treemod:
        xgb_param = alg.get_xgb_params()
        xgtrain = xgb.DMatrix(X_train[predictor_var], label=Y_train.values)
        cvresult = xgb.cv(xgb_param, xgtrain, num_boost_round=alg.get_params()['n_estimators'], nfold=10,
            metrics='rmse', early_stopping_rounds=50,verbose_eval=True,
            show_stdv=True)
        print('best n_estimator',cvresult.shape[0])
        alg.set_params(n_estimators=cvresult.shape[0])
        
        feat_imp = pd.Series(alg.booster().get_score()).sort_values(ascending=False)
        print(feat_imp.transpose)
        feat_imp.plot(kind='bar', title='Feature Importances')
        plt.ylabel('Feature Importance Score')
    
    if is_poly:
        poly_reg = PolynomialFeatures(degree = degree)
        X_poly = poly_reg.fit_transform(X_train[predictor_var])
        poly_reg.fit(X_poly, Y_train)
        alg.fit(X_poly, Y_train)
    
    else:
        #Fit the algorithm on the data
        alg.fit(X_train[predictor_var], Y_train)
        
    #Predict training set:
    dtrain_predictions = alg.predict(X_train[predictor_var])
    
    dvalid_predictions = alg.predict(X_test[predictor_var])
    
    if is_final:
        #Print model report:
        print("Writing Final Csv")
        print("\nModel Report")
        print("RMSE_Score_(Train): %f" % np.sqrt(metrics.mean_squared_error(Y_train.values, dtrain_predictions)))
        #print("R2_Score_(Train): %f" % alg.score(X_train[predictor_var],Y_train))
        print("R2_Score_(Train): %f" % metrics.r2_score(Y_train,dtrain_predictions))
        
        df_final = pd.DataFrame()
        df_final['id'] = final_test['id']
        df_final['kda_ratio'] = dvalid_predictions
        #df_final['kda_ratio'] = df_final['kda_ratio'].astype('str')
        df_final.to_csv(filename, index=False)
    
    else:
        #Print model report:
        print("\nModel Report")
        print("RMSE_Score_(Train): %f" % np.sqrt(metrics.mean_squared_error(Y_train.values, dtrain_predictions)))
        #print("R2_Score_(Train): %f" % alg.score(X_train[predictor_var],Y_train))
        print("R2_Score_(Train): %f" % metrics.r2_score(Y_train,dtrain_predictions))
    
        print("RMSE Score (Test): %f" % np.sqrt(metrics.mean_squared_error(Y_test.values, dvalid_predictions)))
        #print("R2 Score (Test): %f" % alg.score(X_test[predictor_var],Y_test))
        print("R2_Score_(Test): %f" % metrics.r2_score(Y_test,dvalid_predictions))

In [ ]:
from sklearn.model_selection import cross_val_score
from sklearn.svm import SVR
model2 = SVR(kernel = 'rbf')

from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score

from sklearn.tree import DecisionTreeRegressor
model3 = DecisionTreeRegressor(random_state = 50)

from sklearn.ensemble import RandomForestRegressor
model4 = RandomForestRegressor(n_estimators = 270, max_depth=5,
                               min_samples_split=30,min_samples_leaf=12,max_leaf_nodes=30,min_weight_fraction_leaf=0.1,random_state = 50)

from xgboost import XGBRegressor
model5 = XGBRegressor()

from sklearn.neighbors import KNeighborsRegressor
model6 = KNeighborsRegressor(n_neighbors =37)

from sklearn.linear_model import Ridge, Lasso ,ElasticNet

model7 = Ridge()

model8 = Lasso(max_iter=1000,alpha=2000)

model9 = RandomForestRegressor()

model10 = ElasticNet()

from vecstack import stacking

model_fn(model10,final_train[predictor_var],final_train[outcome_var],
         final_test[predictor_var],final_test[outcome_var],predictor_var,
         3,'alg2.csv', False, True, False)